body {
    font-family: 'Arial', 'sans-serif';
}

#footer{
	
	text-align: center;
	display:block;
	background-color: grey ;
	height:50px;
}

#footer p {
	font-weight: bold;
	position: relative;
	top: 20px;
}

#form{
	padding-top: 150px;
}

form{
    display: block;
    border: solid black;
    box-shadow: 10px 5px 5px grey;
    background: white;
    border-radius: 10px 40px;
    padding: 20px;
    width:500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

form input, form textarea{
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

form input[type=submit] {
    width: auto;
}

header div{
	color: black;
	margin: 0px;
}

#ban1 {
	text-align:center;
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;

}

header{
	font-family: Arial;
	min-width: 500px;
	width:100%;
	height:180px;
	position:relative;
	background-color: #deb887 ;
}

header div ul{
	margin: 0;
	padding: 0;
	float: left;
	left:25%;
	position:relative;
	padding-top:0px;
	margin-left: -35px;
}

header div ul li{
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;

	width: 140px;
	height: 60px;
	background-color: rgba(0,0,0,0.8);
	line-height: 50px;
	text-align: center;
	list-style-type: none;
}

header div ul li a{
	display: block;
	text-align:center;
	display:inline-block;
	background-color:#deb887;
	height:60px;
	width:140px;
	color: black;
	text-decoration: none;
	
}

header ul li a{
		display: block;
}

header div ul li a:hover{
	background-color: grey;
	opacity: 0.9;
}

header div ul li ul li{
	display: none;
}

header div ul li:hover ul li{
	display: block;
}


#bannière2{
	display: block;
	background-color:white;
	height: 60px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#bannière2 p {
	font-weight: bold;
	text-align: right;
}

#body{
    background-color: bisque;
}

#article {
	margin-right: 10px;
}

#titretest{ 
	padding-top:300px;
}

.texte{
	margin-left: 20px;
}
#Localisation {
	margin-top: 270px;
	margin-left: 10px;

}

#test{
	position: absolute;
	top:170px ;
	left:1440px;
}

#france{
	position: absolute;
	top:168px ;
	left:1380px;
}
#imgfr{width: 30px;}

#angleterre{
	position: absolute;
	top:168px ;
	left:1480px;
}
#imgen{width: 35px;}

#card1 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 100px;
	top: 300px;
}

#actu1 {
	width: 288px;
	height: auto;

}

#card1en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 100px;
	top: 300px;
}



#actu1en {
	width: 288px;
	height: auto;

}

#divcolor {
	z-index: 8;
	object-position: 50% 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#color {
	z-index: 5;
	object-position: 50% 50%;
	height: 250px;
	width: 250px;
	max-height: auto;
	max-width: auto;
	min-height: auto;
	min-width: auto;
}

#card2 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 450px;
	top: 300px;
}

#actu2 {
	width: 288px;
	height: auto;

}

#card2en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 450px;
	top: 300px;
}

#actu2en {
	width: 288px;
	height: auto;

}


#card3 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 1150px;
	top: 300px;
}

#actu3 {
	width: 288px;
	height: auto;

}

#card3en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 1150px;
	top: 300px;
}

#actu3en {
	width: 288px;
	height: auto;

}


#card4 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 800px;
	top: 300px;
}

#actu4 {
	width: 288px;
	height: auto;

}

#card4en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 800px;
	top: 300px;
}

#actu4en {
	width: 288px;
	height: auto;

}


#card5 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 100px;
	top: 950px;
}

#actu5 {
	width: 288px;
	height: auto;

}

#card5en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 100px;
	top: 950px;
}

#actu5en {
	width: 288px;
	height: auto;

}

#card6 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 450px;
	top: 950px;
}

#actu6 {
	width: 288px;
	height: auto;

}

#card6en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 450px;
	top: 950px;
}

#actu6en {
	width: 288px;
	height: auto;

}



#card7 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 800px;
	top: 950px;
}

#actu7 {
	width: 288px;
	height: auto;

}

#card7en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 800px;
	top: 950px;
}

#actu7en {
	width: 288px;
	height: auto;

}

#card8 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 1150px;
	top: 950px;
}

#actu8 {
	width: 288px;
	height: auto;

}

#card8en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 1150px;
	top: 950px;
}

#actu8en  {
	width: 288px;
	height: auto;

}

#FormActivité{
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	border-radius: 10px;
}

#FormTransport{
	padding-top: 50px;
	padding-bottom: 100px;
}

/* FOOTER FARES */

#footer{
	width:100%;
	height:60px;
	background:#919191;
	border-top:5px solid #919191; 
	text-align: center;
}

#textemilieu {
	float: bottom;
}

#image_gauche {
	float:left;
}

#image_droite {
   float:right;
   justify-content: space-around;
   margin: 0 30px 0 0;
}

/* FOOTER FARES */


/* CSS PAGE D'ACCUEIL */

#imageaccueil1 {
	position: right;
}

.container-fluid {
	width: 80%;
}

.container{
	display: flex;
	justify-content: space-between;
}

#carouselExampleFade {
	margin: 20px 50px 20px 50px;
}

button{
	width: 200px;
	height: 50px;
	margin: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	background: #606060;
	color: #fff;
	font-size: 1.3rem;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #000;
	transition: ease-in-out 0.6;
}

button:hover{
	box-shadow: inset 200px 0 0 0 #000;
	color: rgba(0,0,0,0.8);
}


#photoloc {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 650px;
	top: 2500px;
}

a:link 
{ 
text-decoration:none; 
} 

#titre1{
	position: absolute;
	top: 300px;
}

#ruevj{
position: absolute;
top: 2300px;
}

#where, #imgvj, #bcvj {
	max-width: 650px;
}

#bodyvj{
	padding-top: 150px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}