/*
   Styliser TOUTES les balises <p> 
*/
p {
    color: rgb(205, 186, 63);
    font-size: 30px;
    font-weight: bold;
    
}

h1 {
    background-color: pink;
    margin-right: 300px;
    padding-left: 40px;
}

/*
    Styliser seulement un seul paragraphe choisi (grâce à id)
*/
#contenu3 {
    color: green
}

/*
    Styliser seulement un groupe de paragraphes choisis (grâce à class)
*/
