body {
    font-family: 'Arial', 'sans-serif';
}

#footer{
	
	text-align: center;
	display:block;
	background-color: grey ;
	height:50px;
}

#footer p {
	font-weight: bold;
	position: relative;
	top: 20px;
}

#form{
	padding-top: 150px;
}

form{
    display: block;
    border: solid black;
    box-shadow: 10px 5px 5px grey;
    background: white;
    border-radius: 10px 40px;
    padding: 20px;
    width:500px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

form input, form textarea{
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 300px;
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

form input[type=submit] {
    width: auto;
}

header div{
	color: black;
	margin: 0px;
}

#bannière1{
	text-align:center;
	padding-top:0px;
	display: flex;
	justify-content:center;
	align-items: center;
	background-color: grey;
	height: 152px;
	width:100%;

}

#ban1 {
	text-align:center;
	display: flex;
	justify-content:center;
	align-items: center;
	width:100%;

}

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: #3e65da;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

.youtube-link {
	position: fixed;
	left: 20px;
	bottom: 20px;
	color: #000;
	text-decoration: none;
	font-size: 12px;
}

#bannière2{
	display: block;
	background-color:white;
	height: 60px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#bannière2 p {
	font-weight: bold;
	text-align: right;
}

#body{
    background-color: bisque;
}

#article {
	margin-right: 10px;
}

.titre { 
	margin-top:100px;
	margin-left:10px;
}

.texte{
	margin-left: 20px;
}
#Localisation {
	margin-top: 270px;
	margin-left: 10px;

}

#test{
	position: absolute;
	top:170px ;
	left:1440px;
}

#france{
	position: absolute;
	top:168px ;
	left:1380px;
}
#imgfr{width: 30px;}

#angleterre{
	position: absolute;
	top:168px ;
	left:1480px;
}
#imgen{width: 35px;}

#card1 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 100px;
	top: 300px;
}

#actu1 {
	width: 288px;
	height: auto;

}

#card1en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 100px;
	top: 300px;
}

#actu1en {
	width: 288px;
	height: auto;

}

#divcolor {
	z-index: 8;
	object-position: 50% 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
}

#color {
	z-index: 5;
	object-position: 50% 50%;
	height: 250px;
	width: 250px;
	max-height: auto;
	max-width: auto;
	min-height: auto;
	min-width: auto;
}

#card2 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 450px;
	top: 300px;
}

#actu2 {
	width: 288px;
	height: auto;

}

#card2en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 450px;
	top: 300px;
}

#actu2en {
	width: 288px;
	height: auto;

}


#card3 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 1150px;
	top: 300px;
}

#actu3 {
	width: 288px;
	height: auto;

}

#card3en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 1150px;
	top: 300px;
}

#actu3en {
	width: 288px;
	height: auto;

}


#card4 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 800px;
	top: 300px;
}

#actu4 {
	width: 288px;
	height: auto;

}

#card4en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 800px;
	top: 300px;
}

#actu4en {
	width: 288px;
	height: auto;

}


#card5 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 100px;
	top: 950px;
}

#actu5 {
	width: 288px;
	height: auto;

}

#card5en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 100px;
	top: 950px;
}

#actu5en {
	width: 288px;
	height: auto;

}

#card6 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 450px;
	top: 950px;
}

#actu6 {
	width: 288px;
	height: auto;

}

#card6en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 450px;
	top: 950px;
}

#actu6en {
	width: 288px;
	height: auto;

}



#card7 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 800px;
	top: 950px;
}

#actu7 {
	width: 288px;
	height: auto;

}

#card7en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 800px;
	top: 950px;
}

#actu7en {
	width: 288px;
	height: auto;

}

#card8 {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 1150px;
	top: 950px;
}

#actu8 {
	width: 288px;
	height: auto;

}

#card8en {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 1150px;
	top: 950px;
}

#actu8en  {
	width: 288px;
	height: auto;

}

#FormActivité{
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 100px;
	border-radius: 10px;
}

#FormTransport{
	padding-top: 50px;
	padding-bottom: 100px;
}

/* FOOTER FARES */

#footer{
	width:100%;
	height:60px;
	background:#919191;
	border-top:5px solid #919191; 
	text-align: center;
}

#textemilieu {
	float: bottom;
}

#image_gauche {
	float:left;
}

#image_droite {
   float:right;
   justify-content: space-around;
   margin: 0 30px 0 0;
}

/* FOOTER FARES */


/* CSS PAGE D'ACCUEIL */

#imageaccueil1 {
	position: right;
}

.container-fluid {
	width: 80%;
}

.container{
	display: flex;
	justify-content: space-between;
}

#carouselExampleFade {
	margin: 20px 50px 20px 50px;
}

button{
	width: 200px;
	height: 50px;
	margin: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	background: #606060;
	color: #fff;
	font-size: 1.3rem;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #000;
	transition: ease-in-out 0.6;
}

button:hover{
	box-shadow: inset 200px 0 0 0 #000;
	color: rgba(0,0,0,0.8);
}


#photoloc {
	box-shadow: 0 0 5px black;
	position: absolute;
	left: 650px;
	top: 250px;
}

#titre1{
	position: absolute;
	top: 300px;
}